{% extends 'layout.html' %}
{% block content %}

<div class='row'>
  <div class='col-md-8'>
    <div id='map-canvas' style='height:500px' style='border:solid 1px black'></div>
  </div>
  <div class='col-md-4'>
    {% include 'selectors.html' %}
    {% include 'trip.html' %}

  </div>
</div>
<div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkarjA8hlysMC5aK7ywsrUwYY6UwpnXG0&sensor=true"></script>
  <script src='/client/javascript/tripplanner.js'></script>
  <script src='/client/javascript/mapper.js'></script>
  <script src='/client/javascript/map.js'></script>
  <script src='/client/javascript/app.js'></script>
</div>
{% endblock %}
