<h4 style='text-align: center'>Day <span id='dayLabel'></span></h4>
<button id='dayAdder' class='btn btn-default'>Add Day</button>
<button id='dayRemover' class='btn btn-default'>Remove Day</button>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <ul class='nav nav-pills' id='dayPicker'>
    </ul>
  </div>
  <div class='panel-body'>
    <h4>Hotels</h4>
    <ul id='dayListHotels' class='list-group destination'>
    </ul>
    <h4>Restaurants</h4>
    <ul id='dayListRestaurants' class='list-group destination'>
    </ul>
    <h4>Activities</h4>
    <ul id='dayListActivities' class='list-group destination'>
    </ul>
  </div>
</div>
